<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app
PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
"http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

	<!--If define the Portlet Application name MUST end with .par-->
	<display-name>content</display-name>
	<description>
    This application is a portlet. It can not be used outside a portal.
    This web.xml file is mandatory in each .par archive file.
	</description>

  <!--  default == use the directory of this webapp -->
  <context-param>
    <param-name>file.portlet.reposistory</param-name>
    <param-value>default</param-value>
  </context-param>


  <listener>
    <listener-class>com.sun.faces.config.ConfigureListener</listener-class>
  </listener>

  <servlet> 
    <servlet-name>FileContentServlet</servlet-name>
    <servlet-class>org.exoplatform.portlets.content.FileContentServlet</servlet-class>
  </servlet>

  <servlet-mapping> 
    <servlet-name>FileContentServlet</servlet-name>
    <url-pattern>/file/*</url-pattern>
  </servlet-mapping>

  <security-role>
    <role-name>admin</role-name>
  </security-role>
</web-app>
